
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Direccion</td>
            <td>Salario</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tbody>
</table>

